@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ecf004;
}

#column-2 {
  background: #f75d04;
}

#column-3 {
  background: #c00303;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  
  body {
    width: 50%;
    margin: auto;
  }
  
  header {
    background-color: deepskyblue;
  }

  #column-1 {
    background-color: dodgerblue;
  }

  #column-2 {
    background-color: darkslateblue;
  }

  #column-3 {
    background-color: darkblue;
  }

  footer {
    background-color: indigo;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  
  body {
    width: 33%;
    margin: auto;

  }
  
  header {
    background-color: lightgreen;
  }

  #column-1 {
    background-color: lawngreen;
  }

  #column-2 {
    background-color: green;
  }

  #column-3 {
    background-color: forestgreen;
  }

  footer {
    background-color: seagreen;
  }
   
}
